main > .container {
    padding: 60px 15px 0;
}

h1 {
    font-family: 'Anton', sans-serif;
}

h2 {
    font-family: 'Anton', sans-serif;
}

.navbar {
    background-color: #FD9855;
}

.footer {
    background-color: rgb(39, 39, 39);
}

@media (min-width: 576px){
    .row-cols-sm-2>* {
        width: 80%;
    }
}

@media (min-width: 768px){
    .row-cols-md-3>* {
        width: 50%;
    }
}

@media (min-width: 1200px){
    .row-cols-md-3>* {
        width: 33.33%;
    }
}